extends base

block content 
  main.flex.flex-col.relative
    div(class='ml-4 font-bold text-2xl text-red-600')= message
    div(class='max-w-full m-1 grid gap-2 grow')
      each game in games
        div(class='rounded-md overflow-hidden shadow-md bg-[#fff] flex flex-col')
          div(class='grid grid-cols-2 p-1 gap-10')
            div(class='flex flex-row p-1')
              - var scoreStr = ''
              each player in game.players
                - scoreStr += player.score + '/'
                div(class='relative')
                  img(src=`/img/${player.player.image}`, alt=`${player.player.name}` class='h-20 w-20 rounded-lg m-2 drop-shadow-lg')
                  - if( player.player.name === game.winner.name )
                    svg(class='top-0 left-16 absolute h-8 w-8 fill-red-600 border-2 bg-[#FFD700] border-white rounded-full')
                      use(href='/img/icons.svg#icon-award')
            div(class='grid grid-cols-2 gap-2')
              div(class='flex flex-nowrap gap-2')
                img(class='w-10 h-10 filter-green-600' src='/img/clock.svg')
                span.font-bold.text-3xl= game.duration
              div(class='flex gap-2 justify-center')
                img(class='w-10 h-10 filter-green-600' src='/img/round.svg')
                span.font-bold.text-3xl= game.rounds.length
              div(class='flex gap-2')
                img(class='w-10 h-10 filter-green-600' src='/img/notebook.svg')
                span.bg-white.font-bold.text-3xl= scoreStr.substring(0, scoreStr.length-1)
              div(class='flex justify-end mr-6')
                a(href=`/play/${game._id}` class='h-10 w-10')
                  img(src='/img/arrow-right.svg' class='h-10 w-10 filter-blue-600')
          details(class='bg-gray-300 open:bg-amber-200 duration-300')
            summary(class='bg-inherit px-5 py-3 cursor-pointer text-2xl font-bold')= game.began_at.toLocaleString()
            div(class='bg-white border border-gray-300 text-2xl max-h-96 overflow-auto')
              table(class='table-auto w-full')
                thead(class='sticky top-0 z-30 bg-white')
                  tr
                    each player in game.players
                      th(class='text-center')
                        img(src=`/img/${player.player.image}`, class='h-14 w-14 rounded-lg mx-0-auto')
                    th(class='text-center') 
                      img(src='/img/landlord2.svg' class='h-10 w-10 mx-0-auto filter-purple-600')
                    th(class='text-center')
                      svg(class='h-10 w-10 fill-red-600 mx-0-auto')
                        use(href='/img/icons.svg#icon-award')
                    th(class='text-center') 
                      svg(class='w-10 h-10 fill-[#F2C83B]  mx-0-auto')
                        use(href='/img/icons.svg#icon-coin')
                    th(class='text-center') 
                      svg(class='w-10 h-10 mx-0-auto')
                        use(href='/img/icons.svg#icon-bomb')
                    th(class='text-center') 
                      svg(class='w-10 h-10 fill-green-600 mx-0-auto')
                        use(href='/img/icons.svg#icon-spring')
                - 
                  var springTimes = 0
                  var bombsTimes = 0
                  var wonTimes = 0
                tbody
                  each round in game.rounds
                    tr
                      each player in game.players
                        - var score = player.player.name === round.landlord.name ? round.landlord_score : round.peasant_score;
                        td(class='pr-2 text-right')= score
                      td(class='text-center')= round.landlord.name
                      td(class=' text-center')
                        input(type='checkbox' class='w-10 h-10' checked=round.won disabled)
                        - wonTimes += round.won
                      td(class='text-center')= round.base_score
                      td(class='text-center')= round.bombs
                        - bombsTimes += (round.bombs > 0) 
                      td(class='pr-2 text-center')
                        input(type='checkbox' class='w-10 h-10' checked=round.spring disabled)
                        - springTimes += round.spring
                  tr
                    each player in game.players 
                      td(class='pr-2 text-right font-bold')= player.score
                    td(class='text-center font-bold')= game.winner.name
                    td(class='text-center font-bold')= wonTimes + '/' + game.rounds.length
                    td
                    td(class='text-center font-bold')= bombsTimes + '/' + game.rounds.length
                    td(class='text-center font-bold')= springTimes + '/' + game.rounds.length

