extends base

block content
  
  div(class='grid grid-cols-3 gap-4 p-4 border-dotted')
    each player, index in players
      div(class='block rounded-lg bg-white shadow-xl text-center p-6')
        form(id=`updateForm${index}` name=`updateForm${index}` method='post' action=`/player/update/${player._id}` enctype="multipart/form-data")
        a(href='#' class='')
          input(type='file' id=`${player.name}Avatar` name='image' accept='image/*' class='opacity-0'  form=`updateForm${index}` )
          img(src=`/img/${player.image}` class='w-20 h-20 rounded-full mx-0-auto' onclick=`selectFile('${player.name}Avatar',this)`)
        div(class='py-4')
          input(class='w-full text-center font-bold text-xl' type='text' name='name' form=`updateForm${index}` id=`${player.name}` value=`${player.name}`)
        div(class='flex flex-row')
          div(class='text-center')
            form(id=`deleteForm${index}` name=`deleteForm${index}` method='post' action=`/player/delete/${player._id}`)
              input(type='image' name='delete' src='/img/delete.svg' class='w-16 h-16 pt-3' form=`deleteForm${index}`)
          div(class='text-right')
            input(type='image' name='update' src='/img/accept.svg' class='w-16 h-16 pt-3' form=`updateForm${index}`) 
    div(class='block rounded-lg bg-white shadow-xl text-center p-6')
      form(id='playerForm0' name='playerForm0' method='post' action='/player/create' enctype="multipart/form-data")
        a(href='#' class='')
          input(type='file' id='avatar' name='image' accept='image/*' class='opacity-0')
          img(src='/img/avatar.svg' class='w-20 h-20 mx-0-auto' onclick=`selectFile('avatar',this)`)
        div(class='py-4')
          input(class='w-full text-center font-bold text-xl' type='text' name='name' id='newName' placeholder='name')
          input(type='image' name='create' value='OK' src='/img/accept.svg' class='w-16 h=16 pt-3')
    
            