extends base

block content
  
  div(class='grid grid-cols-3 gap-4 p-4 border-dotted')
    each player, index in players
      div(class='block rounded-lg bg-white shadow-xl text-center p-6')
        a(href='#' onclick=`selectUser('${player._id}')` class='active:bg-blue-600')
          img(src=`/img/${player.image}` class='w-20 h-20 rounded-full active:bg-blue-600 mx-0-auto')
        form(id=`playerForm${index}` name=`playerForm${index}` method='post' action=`/player/${player._id}`)
          div(class='py-4')
            input(class='w-full text-center font-bold text-xl' type='text' name='name' id=`${player.name}` value=`${player.name}`)
          div(class='flex flex-row gap-4')
            div(class='')
              input(type='image' name='delete' src='/img/delete.svg' class='w-16 h-16 pt-3')
            div(class='text-right')
              input(type='image' name='update' src='/img/ok.svg' class='w-16 h-16 pt-3') 
    div(class='block rounded-lg bg-white shadow-xl text-center p-6')
      a(href='#' class='active:bg-blue-600 ')
        img(src='/img/avatar.svg' class='w-20 h-20 active:bg-blue-600 mx-0-auto')
      div(class='py-4')
        form(id='playerForm0' name='playerForm0' method='post' action='/player')
          input(class='w-full text-center font-bold text-xl' type='text' name='name' id='newName' placeholder='name')
          input(type='image' name='create' value='OK' src='/img/ok.svg' class='w-14 h=14 pt-3')
    
            