extends base

block content

   div(class='bg-white border border-gray-300 text-2xl overflow-auto snap-y flex flex-col-reverse' style='max-height:75vh;')
    table(class='table-auto w-full')
      thead(class='z-30 sticky top-0 bg-blue-300')
        tr
          th(class='text-center mx-0-auto')
            svg(class='h-10 w-10 fill-green-600')
              use(href='/img/icons.svg#icon-repeat')
          each element in game.players
            th(class='p-2')
              img(src=`/img/${element.player.image}`, alt=`${element.player.name}` class='h-14 w-14 rounded-full mx-0-auto')
          th(class='text-center mx-0-auto')
            svg(class='h-10 w-10 fill-green-600 mx-0-auto')
              use(href='/img/icons.svg#icon-award')
          th(class='p-2 text-left')
            svg(class='w-10 h-10 mx-0-auto')
              use( href='/img/icons.svg#icon-coin')
          th(class='p-2 text-left')
            svg(class='w-10 h-10 mx-0-auto')
              use( href='/img/icons.svg#icon-bomb')
          th(class='p-2 text-left')
            svg(class='w-10 h-10 fill-green-600 mx-0-auto')
              use( href='/img/icons.svg#icon-spring')
          th(class='text-center')
            img(src='/img/landlord.png' class='h-14 w-14 rounded-full mx-0-auto')
      - 
        var springTimes = 0
        var bombsTimes = 0
        var wonTimes = 0
        var colors = {}
        colors[game.players[0].player.name] = 'bg-green-300'
        colors[game.players[1].player.name] = 'bg-yellow-300'
        colors[game.players[2].player.name] = 'bg-red-300' 
      tbody
        each round, index in game.rounds
          tr(onclick='selectRow(this,\'roundId\')' id=`${round._id}`)
            td(class='p-2 text-center font-bold')= index
            each element in game.players
              - 
                var score = element.player.name === round.landlord.name ? round.landlord_score : round.peasant_score
                var cstr = score < 0 ? 'text-white font-bold bg-red-600' : ''
              td(class=`pr-2 text-right ${cstr}`)= score
            td(class=' text-center')
              input(type='checkbox' class='w-6 h-6' checked=round.won disabled)
              - wonTimes += round.won
            td(class=' text-center')= round.base_score
            - 
              bombsTimes += (round.bombs > 0)
              var cstr = round.bombs > 0 ? 'bg-green-600 text-white font-bold' : ''; 
            td(class=`text-center ${cstr}`)= round.bombs
            td(class='text-center')
              input(type='checkbox' class='w-6 h-6' checked=round.spring disabled)
              - springTimes += round.spring
            td(class=`text-center ${colors[round.landlord.name]}`)= round.landlord.name
        - if( game.rounds.length > 0 )    
          tr
            td(class='p-2 text-center font-bold')= game.rounds.length
            each element in game.players 
              td(class='pr-2 text-right font-bold')= element.score
            td(class='text-center font-bold')= wonTimes + '/' + game.rounds.length
            td
            td(class='text-center font-bold')= bombsTimes + '/' + game.rounds.length
            td(class='text-center font-bold')= springTimes + '/' + game.rounds.length
            td(class='text-center font-bold')= game.winner.name
          //- new round below
        form(id='removeRound' name='removeRound' method='post' action='/removeRound' onsubmit='return validateSelection(\'roundId\');')
          input(type='hidden' form='removeRound' name='roundId' id='roundId' value='')
          input(type='hidden' form='removeRound' name='gameId' value=`${game._id}`)
        form(id='game' name='game' method='post' action=`/play/${game._id}`)
          tr(class='bg-gray-300')
            td
              button(type='submit' class='btn-primary') ✔
            fieldset(class='')
              each element in game.players
                td(class=' text-center py-4 px-2')
                  input(class='form-radio w-10 h-10' type='radio' name='landlord' value=`${element.player._id}` checked)
              td(class='text-center py-4 px-2')
                input(type='checkbox' class='w-10 h-10' name='won' id='won')
              td(class='text-center')
                div(class='text-center flex-col')
                  div
                    button(class=' w-8 h-8' type='button' onclick='incNumber(\'base_score\')') ➕
                  div
                    input(type='text' class='w-10 h-10 font-bold text-xl' name='base_score' id='base_score' value='3' readonly)
                  div
                    button(class=' w-8 h-8' type='button' onclick='decNumber(\'base_score\')') ➖
              td(class='text-center')
                div(class='text-center flex-col')
                  div
                    button(class=' w-8 h-8' type='button' onclick='incNumber(\'bombs\')') ➕
                  div
                    input(type='text' class='w-10 h-10 font-bold text-xl text-red-600' name='bombs' id='bombs' value='0' readonly)
                  div
                    button(class=' w-8 h-8' type='button' onclick='decNumber(\'bombs\')') ➖
              td(class='text-center')
                input(type='checkbox'  class='w-10 h-10' name='spring' id='spring')
              td
                button(type='submit' class='btn-primary' form='removeRound') ❌