extends base

block content
  span(class='p-2 text-center font-bold text-2xl text-red-600' id='banner')
  form(id='game' name='game' method='post' action='/play' onsubmit='return validateNewGame(\'banner\', \'players\');')
    - var selectedPlayers = 0
    div(class='grid grid-cols-3 gap-4 p-4 border-dotted')
      each player, index in players
        div(class='rounded-lg bg-white shadow-xl text-center p-6 ')
          a(href='#' onclick=`selectUser('${player._id}')` class='active:bg-blue-600 ')
            img(src=`/img/${player.image}` class='w-20 h-20 rounded-full active:bg-blue-600 mx-0-auto')
          div(class='py-4')
            h5(class='mb-2 text-xl font-bold tracking-wide text-neutral-800')= player.name 
            - selectedPlayers++
            input(class='pl-5 w-10 h-10' type='checkbox' name='players' id=`${player._id}` value=`${player._id}` checked=(selectedPlayers <= 3))
    div(class='p-4')
      input(type='image' class='btn-primary w-full text-lg h-16 shadow-2xl' src='/img/upload.svg')
